body {
    background-color: #1e1e1e; 
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
}


.cont1 {
    background-color: #2a6fdb; 
    color: #ffffff;
    padding: 1rem;
}

#title {
    color: #ffea00; 
}

#sub {
    color: #00ffb3; 
}


.cont2 {
    background-color: #009975; 
    color: white;
    padding: 1rem;
}

h3 {
    color: #ff8cff; 
}


table {
    background-color: #3a3a3a;
    color: white;
    border-color: #ffea00;
    margin: auto;
}


.cont4 {
    background-color: #3d3d3d;
    padding: 1rem;
}


form {
    background-color: #5a5a5a; 
    margin: 1rem;
    padding: 1rem;
    border-radius: 10px;
}

input, textarea {
    border: none;
    padding: 0.5rem;
    border-radius: 5px;
    width: 90%;
    background-color: #ececec;
}

.submit {
    background-color: #00c4ff; 
    color: #000;
    padding: 0.7rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit:hover {
    background-color: #009ac4;
}
